<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
	<add name ="connection"
	    connectionString = "Server = DESKTOP-DRNVJJ6; Database = LibraryManagementSystem ; Integrated Security = true"
		 providerName="System.Data.SqlClient;"
		/>

	<add name ="connectionCollege"
	    connectionString = "Server = DESKTOP-DRNVJJ6; Database = LibraryManagement ; Integrated Security = true"
		 providerName="System.Data.SqlClient;"
		/>
	</connectionStrings>	 

     
</configuration>
